form.login, form.register{
    max-width: 25em;
    margin: 0 auto;
}

input{
    display: block;
    margin-bottom: .2em;
    padding: .2em;
    border: 0;
    background-color: lightblue;
    font-size: 1.5em;
    width: 100%;
}

button{
    display: block;
    width: 100%;
    font-size: 1.5em;
}