.bis{
    width: 80%;
    margin: auto;
    display: flex;
}

.form{
    font-size: 1.5em;
    color:wheat;
    width: 15%;
}

select{
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    font-size: .8em;
    text-align: center;
}

.submit{
    margin-top: 2em;
    width: 100%;
    appearance: none;
}
@media all and (max-width: 900px) {
    .bis{
        width: 90%;
    }
}

@media all and (max-width: 800px) {
    .bis{
        width: 95%;
    }
}

@media all and (max-width: 600px) {
    .bis{
        width: 95%;
        flex-direction: column;
    }
}