.select{
    display: flex;
    width: 17%;
    margin-top: 1em;
}

.class_name.options{
    display: flex;
    flex-direction: column;
    position: relative;
}
.class_spec_container{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.img_container{
    width: fit-content;
    display: flex;
    position: relative;
}

.img_orig{
    width: 3em;
    height: 3em;
}

.class_button{
    display: flex;
    position: relative;
    height: fit-content;
}

.spec_button{
    display: flex;
    position: relative;
    height: fit-content;
}


.class_button:hover .shadoweff{
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 7px 4px rgba(113, 227, 255, 0.464);
    border-radius: 5%;
    top: 0;
    left: 0;
}

.shadoweff{
    display: flex;
    position: absolute;
}

.spec_button:hover .shadoweff{
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 7px 7px rgba(113, 227, 255, 0.464);
    top: 0;
    left: 0;
}

abbr{
    text-decoration: none;
    margin: .2em;
}

abbr:has(>.hidden){
    margin: 0;
}

.hidden{
    display: none;
}

.border{
    top:-.35em;
    left:-.35em;
    width: 3.7em;
    height: 3.7em;
    position: absolute;
    z-index: 0;
    pointer-events: none;
}

.name_container{
    align-self: center;
}

.name_container span{
    margin-left:.5em;

    font-family: Metamorphous;
}


@media all and (max-width: 600px) {
    .class_name.options{
        justify-content: start;
        flex-direction: row;
        width: 90%;
        margin: auto;
    }
    .select{
        width: 100%;
        margin: auto;
    }
    .img_orig{
        width: 7vw;
        height: 7vw;
    }
    .border{
        top:-.65vw;
        left:-.75vw;
        width: 8.5vw;
        height: 8.5vw;
    }
    .spec_button .border{
        left: 2.1vw;
    }
    .name_container{
        width: 100%;
        margin-top: .2em;
        display: flex;
        height: fit-content;
        align-self: auto;
    }
    .name_container span{
        width: 100%;
        margin: 0;
        text-align: center;
        font-size: .2em;
    }
    abbr{
        width:fit-content;
        align-items: center;
    }
    abbr:has(>.class_button){
        margin-left: .3em;
        margin-right: .3em;
    }
    abbr:has(>.spec_button){
        width: 15%;
    }
    abbr:has(>.hidden){
        position: fixed;
        width: 0;
    }
    .class_button{
        flex-direction: column;
    }
    .spec_button{
        align-items: center;
        flex-direction: column;
    }
}