.select{
    display: flex;
    width: 10%;
    margin-left: 2em;
}

.class_name.options{
    display: flex;
    flex-direction: column;
    position: relative;
}

.img_container{
    display: flex;
    position: relative;
}

.img_orig{
    width: 3em;
}

.class_button{
    margin: .2em;
    display: flex;
    position: relative;
    height: fit-content;
}
.class_button.hidden{
    margin: 0;
}

.spec_button{
    margin: .2em;
    display: flex;
    position: relative;
    height: fit-content;
}

.spec_button.hidden{
    margin: 0;
}

.class_button:hover .shadow{
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 7px 4px rgba(113, 227, 255, 0.464);
    border-radius: 5%;
    top: 0;
    left: 0;
}

.spec_button:hover .shadow{
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 7px 7px rgba(113, 227, 255, 0.464);
    top: 0;
    left: 0;
}

abbr {
    transition:0s;
    /* Here is the delay */
  }

.hidden{
    display: none;
}

.border{
    top:-.35em;
    left:-.35em;
    width: 3.7em;
    height: 3.7em;
    position: absolute;
    z-index: 0;
    pointer-events: none;
}

@media all and (max-width: 600px) {
    .class_name.options{
        flex-direction: row;
        width: 90%;
        margin: auto;
    }
    .select{
        width: 80%;
        margin: auto;
    }
    .img_orig{
        width: 1.5em;
    }
    .border{
        width: 2em;
        height: 2em;
    }
}