.item_container{
    position: relative;
    margin: .3em;
}

.item_name{
    white-space: nowrap;
}

.item_bond{
    white-space: nowrap;
}

.item_image{
    width: 3em;
    pointer-events: none;
}

.inventory_info{
    display: flex;
    justify-content: space-between;
}

.inventory > *{
    display: inline-block;
}

.damage{
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.damage > *{
    display: inline-block;
}

.speed{
    margin-left: 1em;
}

.item_effect >*{
    display: inline;
}

.item_tooltip{
    position: fixed;
    z-index:3;
    text-align: left;
    background-color: rgb(8 13 33);
    color:white;
    min-width: 5em;
    width: fit-content;
    max-width: 21em;
    padding: .5em;
    visibility: hidden;
    opacity: 0;
    margin-left: 4em;
    font-family:Arial, Helvetica, sans-serif;
}

.item_tooltip.medium{
    min-width: 12em;
}

.item_tooltip.large{
    min-width: 17em;
}

.is_leaving_bot{
    bottom: 2em;
}

.item_tooltip.right{
    margin-left: -13em;
}

.item_tooltip.right.medium{
    margin-left: -17em;
}

.item_tooltip.right.large{
    margin-left: -23em;
}


.item_tooltip.visible{
    visibility: visible;
    opacity: 100%;
}

.item_tooltip.bottom{
    margin-left: -5em;
    bottom: 12em;
}


.image_container{
    width: fit-content;
}



.item_effect{
    color:lawngreen;
    margin-right: 1em;
}

.item_image{
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 3px;
    border-radius: 15%;
}

.junk{
    color:gray;
    border-color:gray;
}

.uncommon{
    color:lawngreen;
    border-color:lawngreen
}

.rare{
    color:royalblue;
    border-color:royalblue;
}

.epic{
    color:darkviolet;
    border-color:darkviolet;
}

.legendary{
    color:orange;
    border-color:orange;
}

.item_level{
    color:gold;
}

.set_name_items{
    white-space: nowrap;
    color:gold;
}

.item_set{
    margin-top: 1em;
}

.set_item{
    margin-left:.3em;
    color:gray;
}

.set_effects{
    margin-top: 1em;
    color:gray;
}

.durability{
    white-space: nowrap;
}

.req_level{
    white-space: nowrap;
}

.armor.quality{
    color:lawngreen;
}

.warrior{
    color:rgb(198, 155, 109);
}

.paladin{
    color:rgb(244, 140, 187);
}

.hunter{
    color:rgb(171, 211, 114);
}

.rogue{
    color:rgb(255, 244, 104);
}

.priest{
    color:rgb(255, 255, 255);
}

.druid{
    color:rgb(255, 124, 10);
}

.shaman{
    color:rgb(0, 112, 221);
}

.mage{
    color:rgb(63, 198, 235);
}

.warlock{
    color:rgb(135, 137, 238);
}

.random_enchantment{
    white-space: nowrap;
    color:lawngreen;
}

.classes_available{
    white-space: nowrap;
}

.image_container:hover .shadow{
    top: inherit;
    left: inherit;
    position: absolute;
    pointer-events: none;
    margin: 0;
    width: 3em;
    height: 3em;
    box-shadow: inset 0 0 7px 7px rgba(113, 227, 255, 0.464);
    border-radius: .5em;
}

.image_container.undefined{
    pointer-events: none;
}


@media all and (max-width: 600px) {
    .item_tooltip.right{
        right: 4em;
    }
    .item_tooltip{
        font-size: .8em;
    }
    .item_image{
        width: 2em;
    }
    .item_tooltip.bottom{
        left:10em;
        top:45em;
        bottom:auto;
        margin: 0;
    }
    .image_container:hover .shadow{
        width: 2em;
        height: 2em;
    }

}