.navbar{
    position: relative;
    display: flex;
    height: fit-content;
    margin: 1em 10%;
    justify-content: left;
    padding-bottom: 1em;
}

.link_container{
    text-align: center;
    width: 5em;
    font-size: 1.5em;
    margin: 0 .1em;
    background-color: rgb(32, 81, 81);
    font-family: Metamorphous;
    text-decoration: none;
    color:wheat;
}


.link_container:hover{
    color:brown;
    background-color: rgb(29, 52, 67)
}

@media all and (max-width: 600px) {
    .navbar{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .link_container{
        width: 50%;
        font-size: 1em;
    }
}

@media all and (max-width: 400px) {
    .link_container{
        font-size: .7em;
    }
}