.navbar{
    position: relative;
    display: flex;
    width: 40%;
    height: fit-content;
    margin: auto;
    margin-top: 1em;
    justify-content: flex-end;
}

.link_container{
    text-align: center;
    width: 30%;
    font-size: 2em;
}

.link_container a{
    font-family: Metamorphous;
    text-decoration: none;
    color:wheat;
}

.link_container a:hover{
    color:brown;
}

@media all and (max-width: 600px) {
    .navbar{
        width: 80%;
    }
    .link_container{
        width: 50%;
        font-size: 1em;
    }
}