.texts a{
    color:inherit;
    text-decoration: none;
}

div.post{
    color:wheat;
    display: grid;
    grid-template-columns: .7fr 1.3fr;
    gap:1em;
    margin-bottom: 2em;
}

div.post .image{
    overflow: hidden;
    height: 15em;
}

div.post .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.texts p.info{
    display: flex;
    font-size: smaller;
}

p.info .author{
    align-self: flex-end;
    color: antiquewhite;
    font-weight: bold;
    margin-right: 1em;
}
