.item_container{
    margin:1em;
}

.item_name{
    white-space: nowrap;
}

.item_bond{
    white-space: nowrap;
}

.inventory{
    display: flex;
    justify-content: space-between;
}

.inventory > *{
    display: inline-block;
}

.damage{
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.damage > *{
    display: inline-block;
}

.speed{
    margin-left: 1em;
}

.item_effect >*{
    display: inline;
}

.item_tooltip{
    position: absolute;
    top: -1em;
    background-color: rgb(8 13 33);
    color:white;
    min-width: 5em;
    width: fit-content;
    max-width: 21em;
    padding: .5em;
    display: none;
    margin-left: 3em;
}

.item_tooltip.medium{
    min-width: 23em;
}


.image_container:hover .item_tooltip{
    display: block;
}

.image_container{
    position: relative;
    width: fit-content;
}



.item_effect{
    color:lawngreen;
    margin-right: 1em;
}

.item_image{
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 3px;
    border-radius: 15%;
}

.junk{
    color:gray;
    border-color:gray;
}

.uncommon{
    color:lawngreen;
    border-color:lawngreen
}

.rare{
    color:royalblue;
    border-color:royalblue;
}

.epic{
    color:darkviolet;
    border-color:darkviolet;
}

.legendary{
    color:orange;
    border-color:orange;
}

.item_level{
    color:gold;
}

.set_name_items{
    white-space: nowrap;
    color:gold;
}

.item_set{
    margin-top: 1em;
}

.set_item{
    margin-left:.3em;
    color:gray;
}

.set_effects{
    margin-top: 1em;
    color:gray;
}

.durability{
    white-space: nowrap;
}

.req_level{
    white-space: nowrap;
}

.armor.quality{
    color:lawngreen;
}

.warrior{
    color:rgb(198, 155, 109);
}

.paladin{
    color:rgb(244, 140, 187);
}

.hunter{
    color:rgb(171, 211, 114);
}

.rogue{
    color:rgb(255, 244, 104);
}

.priest{
    color:rgb(255, 255, 255);
}

.druid{
    color:rgb(255, 124, 10);
}

.shaman{
    color:rgb(0, 112, 221);
}

.mage{
    color:rgb(63, 198, 235);
}

.warlock{
    color:rgb(135, 137, 238);
}